/*
Title: macias-palindrome.html
    Author: Andres Macias
    Date: 6/12/2022
    Description: restaurant app file for WEB 330 - Enterprise JavaScript II 
*/

.menu-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px;
}
