/*
    Title: macias-calorie.css
    Author: Andres Macias
    Date: 6/19/2022
    Description: CSS for the macias-calorie.html file
*/

#foodList {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}